/*Colors and Fonts */
body {
	background-color: #F6F9FC;
	color: rgb(50,50,50);
	font-family: 'Lora', serif;
	font-size: 17px;
	font-weight: lighter;
	text-align: center;
}

h1, h2{
	font-family: 'Roboto Slab',serif;
	text-align: center;
}

h1 {
	color:#470938;
	font-size: 40px;
	font-weight: bold;
}

h2 {
	color:#1a3e59;
	font-size: 25px;
}

p {
	text-align: justify;
}

/*classes*/
@media (max-width: 960px) {
	.container{
		width:700px;
		margin: 40px auto;
	}
}

@media (max-width: 720px) {
	.container{
		width:500px;
		margin: 40px auto;
	}
}
@media (max-width: 540px) {
	.container{
		min-width:300px;
		margin: 40px auto;
	}
}

.card-white {
	background: white;
    padding: 30px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 5px
}

.img-circle {
	border-radius: 50%;
	max-width: 35%;
	min-width: 200px;
}

.img-rounded {
	border-radius: 10%;
	max-width: 35%;
	min-width: 200px;
}

.list-inline {
	list-style-type: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 0px 20px;
}

.list-inline i {
	font-size: 50px;
	color: black;
}

.list-inline i:hover {
	font-size: 50px;
	color: grey;
}